__pycache__/fairKalahs.cpython-39.pyc
__pycache__/fairKalahs.cpython-310.pyc
__pycache__/jogos.cpython-39.pyc
__pycache__/jogos.cpython-310.pyc
__pycache__/kalah.cpython-39.pyc
__pycache__/kalah.cpython-310.pyc
__pycache__/players.cpython-39.pyc
__pycache__/players.cpython-310.pyc
__pycache__/tournament.cpython-39.pyc
__pycache__/tournament.cpython-310.pyc
__pycache__/utils.cpython-39.pyc
__pycache__/utils.cpython-310.pyc
Imagens/chapiteau_superman.gif
Imagens/chessPiscina.jpg
Imagens/dice5-550x827.jpg
Imagens/diceArt.gif
Imagens/kalahBoard.png
Imagens/mancalaAreia.jpg
Imagens/python.gif
Imagens/theStrongestMan.gif
Imagens/uiuimancala.png
